@charset "utf-8";
@use "../foundation" as *;

/* -------------------------------------------*/

.p-brand {
  $p-brand: &;
  #{$p-brand}-mv {
    background-image: url(../images/brand/brand-mv.webp);
  }

  #{$p-brand}-intro {
    padding-top: 12.6rem;
    padding-bottom: 16.8rem;
    position: relative;
    @include mq(md, max) {
      padding-top: 5rem;
      padding-bottom: 8rem;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      background-color: #f4f7f8;
    }

    &:before {
      width: 10.9vw;
      height: 95%;
      bottom: 0;
      right: 0;
      @media only screen and (max-width: 1600px) {
        width: 5vw;
      }
      @include mq(xl, max) {
        content: none;
      }
    }
    &:after {
      width: 100%;
      height: 7.2rem;
      bottom: 0;
      left: 0;
      @include mq(md, max) {
        content: none;
      }
    }

    &__title {
      font-size: 3.6rem;
      font-weight: 700;
      text-align: center;
      margin-top: 4rem;
      color: $c-main;
      @include mq(md, max) {
        font-size: 2.4rem;
        margin-top: 2.5rem;
      }
    }

    &__box {
      margin-top: 5.7rem;
      @include mq(md, max) {
        margin-top: 3rem;
      }
    }

    &__box + &__box {
      margin-top: 5.3rem;
      @include mq(md, max) {
        margin-top: 2.5rem;
      }
    }
  }

  // 年表
  #{$p-brand}-history {
    width: 100%;
    &__caption {
      font-size: 1.6rem;
      text-align: center;
      margin-top: 4rem;
      @include mq(md, max) {
        font-size: 1.4rem;
        margin-top: 2rem;
        text-align: left;
      }
    }
    &__container {
      margin-top: 9.4rem;
      @include mq(md, max) {
        margin-top: 7.5rem;
      }
    }
    &__box {
      width: 100%;
      & + .p-brand-history__box {
        margin-top: 4.4rem;
        @include mq(md, max) {
          margin-top: 3.52rem;
        }
      }
      &:nth-child(2) {
        #{$p-brand}-history__box-imgBox {
          @include mq(md, max) {
            flex-direction: column-reverse;
          }
        }
      }
      &-title {
        font-size: 6rem;
        font-weight: 500;
        letter-spacing: 0.09em;
        font-family: $second-ff;
        color: $c-history-title;
        @include mq(md, max) {
          font-size: 4.6rem;
        }
      }
      &-imgText {
        border-left: 1px solid $c-history-border;
        max-width: 105.45rem;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding-top: 1.3rem;
        padding-left: 5.85rem;
        padding-bottom: 2.4rem;
        margin-top: 2.8rem;
        margin-left: auto;
        @include mq(md, max) {
          padding-left: 4.68rem;
          padding-bottom: 1.2rem;
        }
      }
      &-imgBox {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 5.6rem;
        @include mq(md, max) {
          flex-direction: column;
          gap: 4.4rem;
        }
      }
      &-img {
        max-width: 42rem;
        width: 100%;
        height: auto;
        @include mq(md, max) {
          max-width: 100%;
        }
      }
      &-text00 {
        max-width: 52rem;
        width: 100%;
        height: auto;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 0.09em;
        line-height: calc(35 / 16);
        color: $c-black;
        margin-top: -0.9rem;
        @include mq(md, max) {
          font-size: 1.3rem;
        }
        &-span{
          display: block;
          margin-top: 2rem;
            @include mq(md , max) {
              margin-top: 1.5rem;
            }
        }
      }
      &-text01 {
        max-width: 105.45rem;
        width: 100%;
        height: auto;
        margin-left: auto;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 0.09em;
        line-height: calc(35 / 16);
        color: $c-black;
        margin-top: 2.4rem;
        @include mq(md, max) {
          font-size: 1.3rem;
          margin-top: 1.92rem;
        }
      }
    }
    &__text-row {
      font-size: 1.6rem;
      font-weight: 500;
      letter-spacing: 0.09em;
      line-height: calc(35 / 16);
      text-align: center;
      color: $c-black;
      margin-top: 3.8rem;
      @include mq(md, max) {
        font-size: 1.3rem;
        margin-top: 3.04rem;
        text-align: left;
      }
    }
  }
  // 年表
  // future
  #{$p-brand}-future {
    padding-top: 9rem;
    padding-bottom: 8rem;
    background-image: url(../images/top/service-bg.png);
    @include mq(md, max) {
      padding-top: 5rem;
      padding-bottom: 4rem;
    }
    &__caption {
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 0;
      line-height: calc(44 / 20);
      color: $c-main;
      text-align: center;
      @include mq(md, max) {
        font-size: 1.6rem;
      }
    }
    &__title {
      font-size: 3.6rem;
      font-weight: 700;
      letter-spacing: 0.09em;
      line-height: calc(58 / 36);
      color: $c-main;
      text-align: center;
      margin-bottom: 5rem;
      @include mq(md, max) {
        font-size: 2.88rem;
        margin-bottom: 4rem;
      }
    }
    &__box {
      position: relative;
      height: 60rem;
      @include mq(md, max) {
        height: 30rem;
      }
      &-img {
        width: 100vw;
        height: 100%;
        margin-left: calc(50% - (50vw + 10.9vw));
        @media only screen and (max-width: 1500px) {
          margin-left: calc(50% - (50vw + 5vw));
        }
        @include mq(xl, max) {
          margin-left: calc(50% - 50vw);
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 80%;
        }
      }
      &-make {
        position: absolute;
        top: 13.5rem;
        @media only screen and (max-width: 1500px) {
          top: 10.5rem;
        }
        @include mq(xl, max) {
          top: 5rem;
        }
        @include mq(md, max) {
          top: 2rem;
        }
        &Sub {
          font-size: 2.4rem;
          font-weight: 500;
          letter-spacing: 0.09em;
          line-height: calc(29 / 24);
          color: $c-white;
          font-family: $second-ff;
          margin-bottom: 1.5rem;
          @media only screen and (max-width: 1500px) {
            font-size: 1.92rem;
            margin-bottom: 1rem;
          }
          @include mq(xl, max) {
            font-size: 1.92rem;
          }
          @include mq(md, max) {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
          }
        }
        &Title {
          font-size: 4rem;
          font-weight: 600;
          letter-spacing: 0.09em;
          line-height: calc(49 / 40);
          color: $c-white;
          font-family: $second-ff;
          margin-bottom: 5.7rem;
          @media only screen and (max-width: 1500px) {
            font-size: 3.2rem;
            margin-bottom: 3rem;
          }
          @include mq(xl, max) {
            font-size: 3.2rem;
            margin-bottom: 2rem;
          }
          @include mq(md, max) {
            font-size: 1.56rem;
            margin-bottom: 1.5rem;
          }
        }
        &Text {
          font-size: 1.6rem;
          font-weight: 500;
          letter-spacing: 0.09em;
          line-height: calc(35 / 16);
          color: $c-white;
          & + #{$p-brand}-future__box-makeText {
            margin-top: 3.7rem;
            @media only screen and (max-width: 1500px) {
              margin-top: 2.96rem;
            }
            @include mq(xl, max) {
              margin-top: 1.96rem;
            }
            @include mq(md, max) {
              margin-top: 0.96rem;
            }
          }
          @media only screen and (max-width: 1500px) {
            font-size: 1.3rem;
          }
          @include mq(xl, max) {
            font-size: 1.3rem;
          }
          @include mq(md, max) {
            font-size: 0.9rem;
          }
        }
      }
    }
    // p-brand-future
    &__mission {
      padding-top: 11.3rem;
      @include mq(md, max) {
        padding-top: 9.3rem;
      }
      &-caption {
        font-size: 2.4rem;
        font-weight: 500;
        @include mq(md, max) {
          font-size: 1.92rem;
        }
      }
      &-title {
        font-size: 2.8rem;
        @include mq(md, max) {
          font-size: 2.24rem;
        }
      }
      &-img {
        max-width: 800px;
        width: 100%;
        height: auto;
        margin: 0 auto;
      }
      &-text {
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 0.09em;
        text-align: center;
        margin-top: 6rem;
        line-height: calc(35 / 16);
        @include mq(md, max) {
          font-size: 1.3rem;
          text-align: left;
        }
      }
    }
  }
  // future
  // mission
  #{$p-brand}-mission {
    &__inner{

    }
    &__textarea{
      font-size: 1.6rem;
      font-weight: 500;
      letter-spacing: 0.09em;
      text-align: center;
      margin-bottom: 5.28rem;
      line-height: calc(35 / 16);
      color: $c-black;
      @include mq(md, max) {
        font-size: 1.3rem;
        text-align: left;
        margin-bottom: 4.2rem;
      }
    }
    &__img{
      max-width: 800px;
      width: 100%;
      height: auto;
      margin: 0 auto;
      margin-top: 5.38rem;
      margin-bottom: 6rem;
        @include mq(md , max) {
          margin-bottom: 4.8rem;
        }
    }
  }
  // mission
}
