@charset "utf-8";
@use "../foundation" as *;

/* -------------------------------------------*/

.p-choko {
  .p-choko-mv {
    background-image: url(../images/service/service-mv03.webp);
  }

  .p-choko-intro {
    padding-top: 9rem;
    padding-bottom: 16.8rem;
    position: relative;
    @include mq(md, max) {
      padding-top: 5rem;
      padding-bottom: 8rem;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      background-color: #f4f7f8;
    }

    &:before {
      width: 10.9vw;
      height: 95%;
      bottom: 0;
      right: 0;
      @media only screen and (max-width: 1600px) {
        width: 5vw;
      }
      @include mq(xl, max) {
        content: none;
      }
    }
    &:after {
      width: 100%;
      height: 7.2rem;
      bottom: 0;
      left: 0;
      @include mq(md, max) {
        content: none;
      }
    }
    &__content {
      display: flex;
      column-gap: 5.3rem;
      margin-top: 8.5rem;

      @include mq(md, max) {
        flex-direction: column;
        row-gap: 2rem;
        margin-top: 4rem;
      }
    }

    &__img {
      width: 46%;
      @include mq(md, max) {
        width: 100%;
      }
    }

    &__text {
      width: 54%;
      font-size: 1.6rem;
      line-height: 2.1;
      @include mq(md, max) {
        font-size: 1.4rem;
        line-height: 1.8;
        width: 100%;
      }
    }

    p + p {
      margin-top: 3rem;
      @include mq(md, max) {
        margin-top: 2rem;
      }
    }

    &__title {
      font-size: 3.6rem;
      font-weight: 700;
      text-align: center;
      margin-top: 4rem;
      color: $c-main;
      @include mq(md, max) {
        font-size: 2.4rem;
        margin-top: 2.5rem;
      }
    }
  }

  .p-choko-benefit {
    padding-top: 12rem;
    padding-bottom: 10.5rem;
    @include mq(md, max) {
      padding-top: 6rem;
      padding-bottom: 5rem;
    }
    &__desc {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2.1;
      text-align: center;
      @include mq(md, max) {
        font-size: 1.4rem;
        line-height: 1.8;
        text-align: left;
      }
    }

    &__desc.--01 {
      margin-top: 5.5rem;
      @include mq(md, max) {
        margin-top: 3rem;
      }
    }
    &__desc.--02 {
      margin-top: 5.5rem;
      @include mq(md, max) {
        margin-top: 3rem;
      }
    }
    &__desc.--03 {
      margin-top: 3rem;
      @include mq(md, max) {
        margin-top: 1.5rem;
      }
    }

    &__img {
      margin-top: 5rem;
      width: 561px;
      margin-inline: auto;
      @include mq(md, max) {
        width: 80%;
        margin-top: 2rem;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .p-choko-suggest {
    &__wrap {
      padding: 9rem 3.5rem 7.8rem;
      border: 1px solid #adcad9;
      @include mq(md, max) {
        padding: 5rem 2rem 4rem;
      }
    }
    &__content + .p-choko-suggest__content {
      margin-top: 8.3rem;
      @include mq(md, max) {
        margin-top: 4rem;
      }
    }

    &__content {
      display: flex;
      column-gap: 5.3rem;
      @include mq(md, max) {
        flex-direction: column;
        row-gap: 2rem;
      }
    }

    &__content:nth-of-type(1) {
      margin-top: 8.3rem;
      @include mq(md, max) {
        margin-top: 4rem;
      }
    }

    &__content.--02 {
      @include mq(md, max) {
        flex-direction: column-reverse;
      }
    }

    &__img {
      width: 49%;
      @include mq(md, max) {
        width: 100%;
      }
    }

    &__text {
      width: 51%;
      font-size: 1.6rem;
      line-height: 2.1;
      @include mq(md, max) {
        font-size: 1.4rem;
        line-height: 1.8;
        width: 100%;
      }
      p + p {
        margin-top: 3rem;
        @include mq(md, max) {
          margin-top: 1.5rem;
        }
      }
    }
  }

  .p-choko-solution {
    padding-top: 10.5rem;
    padding-bottom: 13rem;
    @include mq(md, max) {
      padding-top: 5.5rem;
      padding-bottom: 6rem;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      background-color: #f4f7f8;
    }

    &:before {
      width: 10.9vw;
      height: 95%;
      bottom: 0;
      right: 0;
      @media only screen and (max-width: 1600px) {
        width: 5vw;
      }
      @include mq(xl, max) {
        content: none;
      }
    }
    &:after {
      width: 100%;
      height: 7.2rem;
      bottom: 0;
      left: 0;
      @include mq(md, max) {
        content: none;
      }
    }
    &__caption {
      font-size: 1.6rem;
      line-height: 2.1;
      margin-top: 5.5rem;
      text-align: center;
      @include mq(md, max) {
        font-size: 1.4rem;
        line-height: 1.8;
        text-align: left;
        margin-top: 3rem;
      }
    }

    &__boxes {
      margin-top: 8rem;
      @include mq(md, max) {
        margin-top: 4rem;
      }
    }

    .p-choko-solution__box + .p-choko-solution__box {
      margin-top: 8.5rem;
      @include mq(md, max) {
        margin-top: 4rem;
      }
    }

    .l-case-title ~ .p-choko-solution__content {
      margin-top: 4rem;
      @include mq(md, max) {
        margin-top: 3rem;
      }
    }

    &__content {
      padding: 5.3rem 3vw;
      background-color: #fbfbfb;
      border: 1px solid #adcad9;
      @include mq(md, max) {
        padding: 2.5rem 2rem;
      }
    }

    &__content-title {
      font-size: 2rem;
      font-weight: 700;
      display: flex;
      align-items: baseline;
      @include mq(md, max) {
        font-size: 1.8rem;
      }
      span {
        font-size: 2.4rem;
        color: $c-main;
        padding-right: 1em;
        @include mq(md, max) {
          font-size: 1.6rem;
          padding-right: 0.5rem;
        }
      }
    }

    &__content-images {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 5.5rem;
      margin-top: 5.5rem;
      @include mq(md, max) {
        margin-top: 2rem;
        column-gap: 1rem;
      }
    }

    &__img {
      width: 31.7rem;
      @include mq(md, max) {
        width: 50%;
      }
      img {
        width: 100%;
        height: 100%;
        aspect-ratio: 317 / 263;
      }
    }

    &__img.--02 {
      width: 43%;
      @include mq(md, max) {
        width: 100%;
      }
      img {
        aspect-ratio: 400 /267;
      }
    }

    &__text {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2.1;
      @include mq(md, max) {
        font-size: 1.4rem;
        line-height: 1.8;
      }
    }

    &__text.--01 {
      margin-top: 5.4rem;
      @include mq(md, max) {
        margin-top: 2rem;
      }
    }
    &__text.--02 {
      width: 57%;
      @include mq(md, max) {
        width: 100%;
      }
    }

    &__content-block {
      display: flex;
      column-gap: 5rem;
      margin-top: 3.3rem;
      align-items: flex-start;
      @include mq(md, max) {
        flex-direction: column;
        row-gap: 2rem;
        margin-top: 2rem;
      }
    }
  }

  .p-choko-service {
    padding-top: 9rem;
    padding-bottom: 8.5rem;
    @include mq(md, max) {
      padding-top: 5rem;
      padding-bottom: 4rem;
    }
    &:before {
      content: "";
      position: absolute;
      background-color: #f4f7f8;
      width: 10.9vw;
      height: 95%;
      bottom: 0;
      right: 0;
      @media only screen and (max-width: 1600px) {
        width: 5vw;
      }
      @include mq(xl, max) {
        content: none;
      }
    }

    .p-choko-service__content-wrap + .p-choko-service__content-wrap {
      margin-top: 8rem;
      @include mq(md, max) {
        margin-top: 4rem;
      }
    }

    .p-choko-service__content {
      margin-top: 8.3rem;
      display: flex;
      column-gap: 5.3rem;
      @include mq(md, max) {
        flex-direction: column;
        row-gap: 2rem;
        margin-top: 3.5rem;
      }
    }

    .p-choko-service__content.--02 {
      @include mq(md, max) {
        flex-direction: column-reverse;
      }
    }

    .p-choko-service__img {
      width: 46%;
      @include mq(md, max) {
        width: 100%;
      }
    }

    .p-choko-service__text {
      width: 54%;
      font-size: 1.6rem;
      line-height: 2.1;
      @include mq(md, max) {
        font-size: 1.4rem;
        line-height: 1.8;
        width: 100%;
      }
      span {
        font-size: 2rem;
        color: $c-main;
        font-weight: 700;
        @include mq(md, max) {
          font-size: 1.6rem;
        }
      }

      p + p {
        margin-top: 2rem;
        @include mq(md, max) {
          margin-top: 1.5rem;
        }
      }
    }
  }
}
