@charset "utf-8";
@use "../foundation" as *;

/* -------------------------------------------*/

.p-service {
  $p-service: &;
  #{$p-service}-mv {
    background-image: url(../images/service/service-mv01.webp);
  }

  #{$p-service}-intro {
    padding-top: 12.6rem;
    padding-bottom: 16.8rem;
    position: relative;
    @include mq(md, max) {
      padding-top: 5rem;
      padding-bottom: 8rem;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      background-color: #f4f7f8;
    }

    &:before {
      width: 10.9vw;
      height: 95%;
      bottom: 0;
      right: 0;
      @media only screen and (max-width: 1600px) {
        width: 5vw;
      }
      @include mq(xl, max) {
        content: none;
      }
    }
    &:after {
      width: 100%;
      height: 7.2rem;
      bottom: 0;
      left: 0;
      @include mq(md, max) {
        content: none;
      }
    }

    &__title {
      font-size: 3.6rem;
      font-weight: 700;
      text-align: center;
      margin-top: 4rem;
      color: $c-main;
      @include mq(md, max) {
        font-size: 2.4rem;
        margin-top: 2.5rem;
      }
    }

    &__box {
      margin-top: 5.7rem;
      @include mq(md, max) {
        margin-top: 3rem;
      }
    }

    &__box + &__box {
      margin-top: 5.3rem;
      @include mq(md, max) {
        margin-top: 2.5rem;
      }
    }
  }
  .p-leak-flow {
    padding-bottom: 8rem;
    @include mq(md, max) {
      padding-bottom: 4rem;
    }
    &__content {
      width: 85%;
      margin-inline: auto;
      margin-bottom: 9.1rem;
      @include mq(md, max) {
        width: 100%;
        margin-bottom: 3rem;
      }
    }

    &__items {
      width: 100%;
    }

    &__item {
      display: flex;
      column-gap: 4rem;
      align-items: flex-start;
      @include mq(md, max) {
        column-gap: 1.5rem;
      }
      &:nth-last-child(1){
        .p-leak-flow__arrow{
          opacity: 0;
        }
      }
    }

    .p-leak-flow__item + .p-leak-flow__item {
      margin-top: 2rem;
      @include mq(md, max) {
        margin-top: 1rem;
      }
    }

    &__img {
      width: 200px;
      flex-shrink: 0;
      @include mq(md, max) {
        width: 120px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__detail {
      flex: 1;
      padding-top: 1rem;
    }

    &__item-title {
      font-size: 2rem;
      font-weight: 700;
      @include mq(md, max) {
        font-size: 1.6rem;
      }
      span {
        font-family: $second-ff;
        color: $c-main;
        font-size: 2.4rem;
        padding-right: 1em;
        @include mq(md, max) {
          font-size: 1.6rem;
        }
      }
    }

    &__desc {
      margin-top: 2rem;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 2.1;
      @include mq(md, max) {
        font-size: 1.4rem;
        line-height: 1.8;
        margin-top: 1.5rem;
      }
      &Box{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        column-gap: 4.4rem;
          @include mq(md , max) {
            column-gap: 1.5rem;
          }
      }
    }

    &__arrow {
      margin-top: 3rem;
      display: block;
      @include mq(md, max) {
        margin-top: 1.5rem;
        width: 15px;
      }
    }
  }
}

