@charset "utf-8";
@use "../foundation" as *;

/* -------------------------------------------*/
.l-cta {
  padding-top: 8rem;
  padding-bottom: 9.2rem;
  background-image: url(../images/common/contact-cta.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $c-white;
  @include mq(md, max) {
    background-position: 55%;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.l-cta__title {
  font-family: $second-ff;
  font-weight: 500;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  &:before {
    content: "";
    background-color: $c-white;
    height: 1px;
    width: 40px;
  }
  @include mq(md, max) {
    font-size: 2rem;
  }
}

.l-cta__text {
  margin-top: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: calc(35 / 16);
  @include mq(md, max) {
    font-size: 1.4rem;
    line-height: 1.8;
    margin-top: 2rem;
  }
}

.l-cta__block {
  margin-top: 5.8rem;
  padding: 5.5rem 3vw;
  border: 1px solid $c-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq(md, max) {
    margin-top: 2rem;
    flex-direction: column;
    row-gap: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: flex-start;
  }
}

.l-cta__tel {
  display: block;
  width: 16vw;
  flex-shrink: 0;
  img {
    width: 100%;
    height: 100%;
  }
  @include mq(md, max) {
    width: 60%;
  }
}

.l-cta__line {
  margin-left: 3vw;
  @include mq(md, max) {
    margin-left: 0;
  }
}

.l-cta__mail {
  margin-left: 1.7vw;
  @include mq(md, max) {
    margin-left: 0;
  }
}

.l-cta__button.c-button-border {
  width: 80%;
}
