@charset "utf-8";
@use '../foundation' as *;

/* -------------------------------------------*/

.l-wrapper {
  position: relative;
  width: 100%;
  text-align: left;

  @include mq(lg) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    text-align: left;
  }
}

.l-main {
  position: relative;
  width: 100%;

  &__inner {
    position: relative;
    width: 100%;
    padding: 0 var(--content-both_space);
    z-index: 1;
  }

  &--404,
  &--error {
    padding-block: 22rem 22.5rem;
    & h1 {
      width: 47rem;
      margin-inline: auto;
      @include mq(md, max) {
        width: 80%;
      }
    }
    & .error-text {
      text-align: center;
      font-size: 1.7rem;
      margin-top: 7.5rem;
      @include mq(md, max) {
        font-size: 1.5rem;
      }
    }
    & .error-link {
      width: fit-content;
      text-align: center;
      display: block;
      font-size: 1.7rem;
      font-feature-settings: 'palt';
      margin: 7.5rem auto 0;
      padding-bottom: 0.3rem;
      position: relative;
      @include mq(md, max) {
        font-size: 1.5rem;
      }
      @media (hover: hover) and (pointer: fine) {
        &::after {
          @include transition(
            $property: (
              left,
            )
          );
        }
        &:hover {
          &::after {
            left: 1rem;
          }
        }
      }
    }
    & .error-link::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: linear-gradient(to right, $c-base, $c-main);
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .l-main__inner {
      padding: 120px 0;

      @include mq(lg, max) {
        padding: 80px 15px;
      }
    }

    .c-btn {
      margin: 40px auto 0;

      @include mq(lg, max) {
        margin-top: 30px;
      }
    }
  }
}

.no-link {
  opacity: 0.4 !important;
  pointer-events: none !important;

  &--ba {
    pointer-events: none !important;

    &::before,
    &::after {
      opacity: 0.4 !important;
      pointer-events: none !important;
    }
  }
}
